
.top_header a:link, a:visited{
    text-decoration: none;
    color: #fff;
    padding: .3rem;
}

.top_header a:hover{
    color: #0db095;
    border-bottom: 2px solid #0db095;
}

.socjal a:hover{
    border-bottom: none;
}
.languages a:hover{
    border-bottom: none;
}
.logo a:hover{
    border-bottom: none;
}

.color_awarded_one{
    color: #0db095;
}

.color_awarded_two{
    color: #cffb8a;
}

.top_header{
    position: fixed;
    background-color: rgba(5, 0, 104, 0.4);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 90;
}

.lan_con{
    display: flex;
    position: relative;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.2rem;

    text-transform: uppercase;
    font-size: 0.75rem;
}

.tel, .email{
    display: inline;
    margin: 0 0.5rem;
}

.logo_socjal{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.9rem;
}

.logo{
    display: inline;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    max-height: 90px;
}

.logo img{
    max-height: 3rem;
    height: 100%;
    width: auto;
}



.logo > h1{
    display: inline;
    position: static;
}

.logo_img, .logo_text{
    margin: 0 .1rem;
    font-size: 2rem;
}

.languages .socjal .logo, a, .socjal a, .languages a{
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}

.languages .socjal .logo, a:hover, .socjal a:hover, .languages a:hover{
    opacity: .7;
    transform: scale(1.05,1.07);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}

@media only screen and (max-width: 500px) {
    .logo_socjal{
        text-align: right;
        justify-content: flex-end;
    }
    .logo_socjal .logo{
    position: relative;
    }
    .logo_socjal .logo_img{
        max-width: 2rem;
        height: auto;
        
    }
    .logo_socjal .logo_text{
        font-size: 1rem;
    }
    
    .socjal{
        display: none;
    }
    .languages{
        display: none;
    }

    .contact{
        color: red;
        position: fixed;
        bottom: 0;
        right: 0;
        background: black;
        display: block;
        width: 100vw;
        font-size: 0;
    }
    .contact .tel, .email{
        margin: 0;
    }

    .contact .tel a, .email a{
        background: #747d9c;
        display: inline-block;
        width: 50%;
        height: 60px;
        margin: auto;
        border: 2px solid #000;
        background-repeat: no-repeat;
        background-position-x: center;
    }
    .contact .tel a{
        background-image: url(../../../img/phone.svg);
    }
    .contact .email a{
        background-image: url(../../../img/email.svg);
    }
}