/*
color:   #


/* ---------------------------------------------------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------------------------------------------------- */
*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
html,
body{
    background-color:#fff;
    color: #ffffff;
    font-family:'Lato', 'Arial', 'sans-serif';
    font-weight:300;
    font-size:20px;
    text-rendering:optimizeLegibility;
    overflow-x:hidden;
}

/* IMPORTANT TO CLEAR FLOATS OTHEWISE YOU WIIL NOT ACHIVE SAVE BETWEEN 8 PICTURES SECTION AND HOW IT WORKS SECTION */
.clearfix {zoom:1}
.clearfix:after{
    content: "";
    clear: both;
    display: block;
    height:0;
    visibility: hidden;
}

/*BACKGROUNDS*/


header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.41),rgba(0, 0, 0, 0.51)),url(img/action-aerial-athletes-1171084.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;
 
}



/* OPENING SITE */

h1{
    font-size: 250%;
    font-weight: 400;
    text-transform: uppercase;
    position:absolute;
    margin-top: 18%;
    right: 20%;
    letter-spacing: 1px;
}
.opening-mid{
    font-weight: 300;
    text-transform: uppercase;
    position:absolute;
    left: 20%;
    margin-top:24%; 
}
h2{
    font-size: 180%;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 40%;
    
  
}
h3{
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top:2px;
    margin-right: 45%;

}


/* Buttons */




/* ICONS */
.icon-big{
    font-size: 350%;
    display:block;
    color:#fff;
    text-align: center;

}
.column {
 
  float:left;
  width: 50%;

  
}

/* Arrows main screen*/

.arrow1,
.arrow2 {
    color: #fff;
    margin-top: 45%;
}
.arrow1{
    margin-right: 50%;
}
.arrow2{
    margin-left: 50%
}

/* section 1 and section 2 */

.top_header a:link, a:visited{
    text-decoration: none;
    color: #fff;
}

.top_header a:hover{
    color: #000;
    border-bottom: 2px solid #0db095;
}

.socjal a:hover{
    border-bottom: none;
}
.languages a:hover{
    border-bottom: none;
}
.logo a:hover{
    border-bottom: none;
}

.color_awarded_one{
    color: #0db095;
}

.color_awarded_two{
    color: #cffb8a;
}

.top_header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.lan_con{
    display: flex;
    position: relative;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.9rem;
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}

.tel, .email{
    display: inline;
    margin: 0 0.5rem;
}

.logo_socjal{
    background-color: rgba(5, 0, 104, 0.4);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0.9rem;
}

.logo{
    display: inline;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    max-height: 90px;
}

.logo img{
    max-height: 70px;
    height: 100%;
    width: auto;
}

.logo > h1{
    display: inline;
    position: static;
}

.logo_img, .logo_text{
    margin: 0 1rem;
}

.languages .socjal .logo, a{
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}

.languages .socjal .logo, a:hover{
    opacity: .7;
    transform: scale(1.05,1.07);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}