/*
color:   #


/* ---------------------------------------------------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------------------------------------------------- */
*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
html,
body{
    background-color:#fff;
    color: #ffffff;
    font-family:'Lato', 'Arial', 'sans-serif';
    font-weight:300;
    font-size:20px;
    text-rendering:optimizeLegibility;
    overflow-x:hidden;
}

/* IMPORTANT TO CLEAR FLOATS OTHEWISE YOU WIIL NOT ACHIVE SAVE BETWEEN 8 PICTURES SECTION AND HOW IT WORKS SECTION */
.clearfix {zoom:1}
.clearfix:after{
    content: "";
    clear: both;
    display: block;
    height:0;
    visibility: hidden;
}

/*BACKGROUNDS*/


header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.41),rgba(0, 0, 0, 0.51)),url(img/action-aerial-athletes-1171084.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;
 
}



/* OPENING SITE */

h1{
    font-size: 250%;
    font-weight: 400;
    text-transform: uppercase;
    position:absolute;
    margin-top: 18%;
    right: 20%;
    letter-spacing: 1px;
}
.opening-mid{
    font-weight: 300;
    text-transform: uppercase;
    position:absolute;
    left: 20%;
    margin-top:24%; 
}
h2{
    font-size: 180%;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 40%;
    
  
}
h3{
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top:2px;
    margin-right: 45%;

}


/* Buttons */




/* ICONS */
.icon-big{
     font-size: 350%;
    display:block;
    color:#fff;
    margin-bottom: 10px;
    text-align: center;

}
.column {
 
  float:left;
  width: 50%;

  
}

/* Arrows main screen*/

.arrow1,
.arrow2 {
    color: #fff;
    margin-top: 45%;
    border: 0;
 
}
.arrow1{
    margin-right: 50%;
}
.arrow2{
    margin-left: 50%
}

















