/*
color:   #

/* ---------------------------------------------------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------------------------------------------------- */
*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
html,
body{
    font-family:'Lato', 'Arial', 'sans-serif';
    font-weight:300;
    font-size:20px;
    text-rendering:optimizeLegibility;
    /* overflow-x:hidden; << po co to ?*/
    color: #ffff;
    height: 100vh;
}

/* IMPORTANT TO CLEAR FLOATS OTHEWISE YOU WIIL NOT ACHIVE SAVE BETWEEN 8 PICTURES SECTION AND HOW IT WORKS SECTION */
.clearfix {zoom:1}
.clearfix:after{
    content: "";
    clear: both;
    display: block;
    height:0;
    visibility: hidden;
}

/******************BACKGROUNDS*******************/
.first{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),  url(img/action-aerial-athletes-1171084.jpg);
}
.second{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),  url(img/dawn-dusk-field-149356.jpg);
}
.third{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),  url(img/action-activity-adult-262524.jpg);
    
}
.photo-background {
    
   
    /* Set rules to fill background */
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;
    width: 100%;
    bottom:0;
	
  /* Set up proportionate scaling */

	
  /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    
    /* Set up color */
}

/*********** Slideshow container ************/
.mySlides {display: none}

.slideshow-container {
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  padding: 1px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2px;
    margin-top: 200px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}




/* ICONS */
.icon-big{
    width: 100px;
   
    font-size: 350%;
    display:block;
    text-align: center;
    margin-top: 200px;
    border-radius: 30px;
}
.column {
  float:left;
  width: 50%;
}
/* Arrows main screen*/

.arrow1,
.arrow2 {
    color: #fff;
    margin-top: 50%;
}
.arrow1{
    margin-left:20%; 
}
.arrow2{
    margin-left:70%; 
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* SECTION 1 */

h1{
    
    font-size: 250%;
    font-weight: 400;
    text-transform: uppercase;
    position:absolute;
    margin-top: 20%;
    right: 20%;
    letter-spacing: 1px;
    
}
.opening-mid{
    font-weight: 300;
    text-transform: uppercase;
    position:absolute;
    left: 20%;
    margin-top:30%; 
   
}
h2{
    font-size: 180%;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 40%;
    
  
}
h3{
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top:2px;
    margin-right: 45%;
}


/*NAVIGATION*/

.main-nav{
    font-weight: 400;
    position: absolute;
    right: 15%;
    list-style: none;
    margin-top: 1.2rem;
}
.main-nav li{
    display: inline-block;
    margin-left: 60px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    border-bottom: 3px solid transparent;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #0db095;
    color: #0db095;
}

/* Buttons */


/* section 1 and section 2 */

.top_header a:link, a:visited{
    text-decoration: none;
    color: #fff;
    padding: .3rem;
}

.top_header a:hover{
    color: #0db095;
    border-bottom: 2px solid #0db095;
}

.socjal a:hover{
    border-bottom: none;
}
.languages a:hover{
    border-bottom: none;
}
.logo a:hover{
    border-bottom: none;
}

.color_awarded_one{
    color: #0db095;
}

.color_awarded_two{
    color: #cffb8a;
}

.top_header{
    position: fixed;
    background-color: rgba(5, 0, 104, 0.4);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 90;
}

.lan_con{
    display: flex;
    position: relative;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.2rem;

    text-transform: uppercase;
    font-size: 0.75rem;
}

.tel, .email{
    display: inline;
    margin: 0 0.5rem;
}

.logo_socjal{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1rem 0.9rem;
}

.logo{
    display: inline;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    max-height: 90px;
}

.logo img{
    max-height: 70px;
    height: 100%;
    width: auto;
}

.logo > h1{
    display: inline;
    position: static;
}

.logo_img, .logo_text{
    margin: 0 1rem;
}

.languages .socjal .logo, a{
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}

.languages .socjal .logo, a:hover{
    opacity: .7;
    transform: scale(1.05,1.07);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}

/* end section 1 and section 2 */

/* Sertion 5 start */
.down_footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer{
    background-color: rgba(99, 98, 98, 0.8);
    padding: 0.3rem 0.9rem 0.3rem;
    text-align: center;
    font-size: .7rem;
    color: #fff;
}

.partners{
    background-color: rgba(5, 0, 104, 0.4);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .9rem;
}
/* footer slider */
.down_footer .footer_slides{
    position:relative;
    margin:0 auto;
    top:0px;
    left:0px;
    width:980px;
    height:100px;
}

.down_footer .loading img{
    margin-top:-19px;
    position:relative;
    top:50%;
    width:38px;
    height:38px
}

.down_footer .slider{
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:980px;
    height:100px;
    overflow:hidden;
}

.down_footer #img_slider {
    opacity: 0.6;
    z-index: 1;
    height: 10px;
}

.down_footer #img_slider:hover{
    opacity: 1;
}

        .down_footer .text_sliders{
            position: absolute;
            top: -13px;
            left: -22px;
            z-index: 2;
        }


/* OFERTA */
.text-oferta{
    letter-spacing: 3px;
    word-spacing: 5px;
    font-size: 50px;
    text-align: center;
    margin-top: 17%;
}
hr { 
    display: block;
    margin-top: 5px;
    margin-left: 30%;
    margin-right: 30%;
    border-style:solid;
    border-width: 3px;
    border-color: aquamarine;
}
.skrzynka{
    color: darkblue;
}

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight:400;
    font-size:25px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color:#fff;
    margin-right:15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #cf6d17;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]{
    border: 1px solid #cf6d17;
  
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color:#fff;
}



.oferta{
    background-image: url(img/women_gym1.jpg);
    height: 100vh;
}

.plan-box{
    background-color: #fff;
    border-radius:5px;
    margin-top: 40px;
    width:70%;
    margin-left: 15%;
    box-shadow: 0 2px 2px #968e8e;
}


.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.plan-box div:last-child{
    text-align: center;
    border:0;
}



.plan-price {
    font-size:300%;
    margin-bottom:10px;
    font-weight: 100px;
    color:#e67e22;
}


.plan-box ul{
    list-style:none;
}


.plan-box ul li{
    padding: 5px 0;
}


/* start contact */
section.contact{
    background-image: url(img/dawn-dusk-field-149356.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 100vh;

}

section.contact .container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(5, 0, 104, 0.6);
    border-radius: 50px 50px 0 0;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}


.contact__header{
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
    padding: 1rem;
}
.contact__header img{
height: 150px;
display: block;
margin: 0 auto;
margin-bottom: 1rem;
}

.logo__title{
    font-size: 2rem;
    font-weight: bold;
    display: block;
}


.contact__map, .contact__form{
    height: 333px;
    float: left;
    padding: 1rem;
}
.contact__map{
    width: 58%;
    min-height: 100%;
}

.contact__form{
    width: 42%;
}

.contact__form input[type="text"],textarea{
    max-width: 100%;
    min-width: 100%;
    background:rgba(13, 176, 149, 0.1);
    border: 2px solid #0db095;
    color: #fff;
    padding: 0.5rem 1rem;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
}

.contact__form input{
    width: 100%;
}


.contact__form p{
    min-height: 1rem;
    padding: 0 0.8rem;
    font-weight: bold;
    margin-bottom: .2rem;
}

.contact__form .e--form{
    margin-bottom: 1rem;
    color: red;
    font-weight: 300;
}

/* end contact */