
.kadra--mainSection {
    background-image: url(../../../img/background_for_kadra.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;
    width: 100%;
    bottom:0;
}


.trainer-pictureSmall{
    padding: 5px;
    border-radius: 100px;
    border: solid;
}

.trainer-pictureSmall:hover{
   transform: scale(1.1);
    filter:brightness(110%);
    border-color: #36c494;
    
}

.trener-firstLine{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    text-align: center;
}
.trener-secondLine{
    margin-top: 340px;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    text-align: center;
}

.kadra--mainSectionNames{
    font-weight: 400;
    text-shadow: 2px 2px #000000;
       
}





/* Trener Pop Up */





.trainer-pictureBox{
    width: 500px;
    height: auto;
    border-radius: 50px;
}




.reveal-modal p{
    text-shadow: none;
    color: black;
    text-align: left;
    text-indent: 50px;
    font-weight: 400;
}



/* ---------------------------------------------------------------------- */
/* Small phones from 0 to 480px */
/* ----------------------------------------------------------------- */
@media only screen and (max-width: 480px){

/* ---------------------------------------------------------------------- */
/* Small phones to small tablets from 481px to 767px */
/* ----------------------------------------------------------------- */
@media only screen and (max-width: 767px){
    
/* ---------------------------------------------------------------------- */
/* Small tablet to big tablets from 768px to 1023px */
/* ----------------------------------------------------------------- */
@media only screen and (max-width: 1023px){
   
/* ---------------------------------------------------------------------- */
/* Big tablet to 1200px */
/* ----------------------------------------------------------------- */
@media only screen and (max-width: 1200px){
    




