
.kadra--mainSection {
    background-image: url(../../../img/background_for_kadra.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;
    width: 100%;
    bottom:0;
}


.trener1 img, .trener2 img{
    padding: 5px;
    border-radius: 100px;
    border: solid;
}

.trener1 img:hover{
   transform: scale(1.1);
    filter:brightness(110%);
    border-color: #36c494;
    
}
.trener2 img:hover{
   transform: scale(1.1);
    filter:brightness(110%);
    border-color: #36c494;
    
}
.trener1{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    text-align: center;
}
.trener2{
    margin-top: 340px;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    text-align: center;
}

.kadra--mainSectionNames{
    font-weight: 400;
    text-shadow: 2px 2px #000000;
       
}
/* Trener Pop Up */

.reveal-modal p{
    text-shadow: none;
    color: black;
}



.instruktor p{
    text-decoration: none;
    
}
.trainer-name{
    margin-top: 30px;
}
.trainer-pictureBox{
    width: 500px;
    height: auto; 
}
.reveal-modal img{
border: 0px;

}
.reveal-modal img:hover{
transform: none;
filter: none;
}

