
.kadra--mainSection {
    background-image: url(../../../img/background_for_kadra.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;
    width: 100%;
    bottom:0;
}


.trainer-pictureSmall{
    padding: 5px;
    border-radius: 100px;
    border: solid;
    border-color: rgba(54, 196, 148, 0.5);
}

.trainer-pictureSmall:hover{
   transform: scale(1.1);
    filter:brightness(110%);
    border-color: #36c494;
    
}

.trener-firstLine{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    text-align: center;
}
.trener-secondLine{
    margin-top: 340px;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    text-align: center;
}

.kadra--mainSectionNames{
    font-weight: 400;
    text-shadow: 2px 2px #000000;
       
}





/* Trener Pop Up */

.trainer-pictureBox{
    width: 500px;
    height: auto;
    border-radius: 50px;
}




.reveal-modal p{
    text-shadow: none;
    color: black;
    text-align: left;
    text-indent: 50px;
    font-weight: 400;
}



/* ---------------------------------------------------------------------- */
/* Small phones from 0 to 480px */
/* ----------------------------------------------------------------- */
@media only screen and (max-width: 480px){
.trainer-pictureBox{
    width: 280px;
    height: auto;
    border-radius: 50px;
}

	.reveal-modal {
		top: 60px; 
		left: 82%;
		width: 362px;
		}
.text{
    margin-top:80px;
    font-size: 30px;

}
    .trainer-pictureSmall{
        width: 110px;
    }
}
/* ---------------------------------------------------------------------- */
/* Small phones to small tablets from 481px to 767px */
/* ----------------------------------------------------------------- */
@media only screen and (min-width:481px) and (max-width: 767px){
.trainer-pictureBox{
    width: 300px;
    height: auto;
    border-radius: 50px;
}

	.reveal-modal {
		top: 60px; 
		left: 70%;
		width: 382px;
		}
    .text{
    margin-top:90px;
    font-size: 40px;

    }
    .trainer-pictureSmall{
        width: 110px;
    }
}
/* ---------------------------------------------------------------------- */
/* Small tablet to big tablets from 768px to 1023px */
/* ----------------------------------------------------------------- */
@media only screen and (min-width:768px) and (max-width: 1023px){
   .trainer-pictureBox{
    width: 340px;
    height: auto;
    border-radius: 30px;
}

	.reveal-modal {
		top: 160px; 
		left: 65%;
		width: 450px;
		}
    .text{
        margin-top: 180px;
        font-size: 40px;

    }

}
/* ---------------------------------------------------------------------- */
/* Big tablet to 1200px */
/* ----------------------------------------------------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1200px){
    .text{
    margin-top: 180px;
    }
}




