/* OFERTA */

.oferta-title{
    color: black;
}


.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;]
    font-weight:400;
    font-size:25px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color:forestgreen;
    border: 1px solid forestgreen;
    color:#fff;
    margin-right:15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid forestgreen;
    color: forestgreen;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: rgba(28, 116, 31, 0.47);
}

.btn-full:hover,
.btn-full:active,
input[type=submit]{
    border: 1px solid #1c771c;
    
  
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #1c771c;
    color:#fff;
}

 .btn-position1{
        visibility: hidden;
    }

.offer__kontakt-button{
       text-align: center;
        margin-top: 10px;

        
    }




.oferta{
    background-image: url(../../../img/ball-field-grass-114296.jpg);
    height: 110vh;
}







/* TABLE */
.offer__table{
    margin-top: 0px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    table-layout: fixed;
}

table,tr,th,td{
    padding: 10px;
    border:1px solid #080808;
    border-collapse: collapse;
    font-size: 20px;
    font-family: lato;
    background: #4c5796;
    opacity: 0.8;
    color: white;
}
td{
    padding: 20px;
    opacity:.9;
    font-weight: 400; 
}
th{
    padding: 20px;
    opacity:.9;
    font-weight: 600;
    background: #27125f;
    
}
td:hover{
    background: black;
}
.offer__table--column1{
    padding: 20px;
    opacity:.9;
    font-weight: 600;
}

.offer__table-bottomBox{
    font-size: 15px;
    
}
.offer__btn{
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
}

    


@media only screen and (max-width: 750px) {
    .oferta{
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: auto;
    }
}

/* ---------------------------------------------------------------------- */
/* Small phones from 0 to 480px */
/* ----------------------------------------------------------------- */
@media only screen and (max-width: 480px){
    .offer__table{
        visibility: hidden;
    }
    .offer__scroll{
        visibility: hidden;
    }

   .offer__download-button{
        text-align: center;
    }
    .btn-position1{
        visibility: visible;
        margin-top: 150px;
        
    }
    .btn-position2{
       position: absolute;
        margin-left: -40%;
        top:450px;  
    }
     .offer__kontakt-button{
        text-align: center;
    }
}
/* ---------------------------------------------------------------------- */
/* Small phones to small tablets from 481px to 767px */
/* ----------------------------------------------------------------- */
@media only screen and (min-width:481px) and (max-width: 767px){
    .offer__table{
        visibility: hidden;
    }
    .offer__scroll{
        visibility: hidden;
    }
    .offer__download-button{
        text-align: center;
    }
    .btn-position1{
        visibility: visible;
        margin-top: 150px;
        
    }
    .offer__kontakt-button{
        text-align: center;
    }
        .btn-position2{
        position: absolute;
        top:450px;
        margin-left:-20%;

        
    }

}
/* ---------------------------------------------------------------------- */
/* Small tablet to big tablets from 768px to 1023px */
/* ----------------------------------------------------------------- */
@media only screen and (min-width:768px) and (max-width: 1023px){
    .oferta{
    background-image: url(../../../img/ball-field-grass-114296.jpg);
    height: auto;
    
}

    
}
/* ---------------------------------------------------------------------- */
/* Big tablet to 1200px */
/* ----------------------------------------------------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1200px){
    .oferta{
    background-image: url(../../../img/ball-field-grass-114296.jpg);
    height: 110vh;
    
}

}




