/* OFERTA */

.oferta-title{
    color: black;
}
.skrzynka{
    color: darkblue;
}

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight:400;
    font-size:25px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color:forestgreen;
    border: 1px solid forestgreen;
    color:#fff;
    margin-right:15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid forestgreen;
    color: forestgreen;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #1c771c;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]{
    border: 1px solid #1c771c;
  
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #1c771c;
    color:#fff;
}



.oferta{
    background-image: url(../../../img/ball-field-grass-114296.jpg);
    height: 100vh;
}

.plan-box{
    background-color: #fff;
    border-radius:5px;
    margin-top: 40px;
    width:70%;
    margin-left: 15%;
    box-shadow: 0 2px 2px #968e8e;
}


.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.plan-box div:last-child{
    text-align: center;
    border:0;
}



.plan-price {
    font-size:300%;
    margin-bottom:10px;
    font-weight: 100px;
    color:#e67e22;
}


.plan-box ul{
    list-style:none;
}


.plan-box ul li{
    padding: 5px 0;
}
