.opening-mid{
    font-weight: 300;
    text-transform: uppercase;
    position:absolute;
    left: 20%;
    margin-top:30%; 
}

.first{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),  url(../../../img/action-aerial-athletes-1171084.jpg);
}
.second{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),  url(../../../img/dawn-dusk-field-149356.jpg);
}
.third{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),  url(../../../img/action-activity-adult-262524.jpg);
    
}
.photo-background {
    
   
    /* Set rules to fill background */
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;
    width: 100%;
    bottom:0;
	


	
  /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}


    /*********** Slideshow container start ************/
.mySlides {display: none}

.slideshow-container {
      position: relative;
      margin: auto;
    }
    /* Next & previous buttons */
.prev, .next {
      cursor: pointer;
      padding: 1px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    }
    /* Position the "next button" to the right */
.next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    /* The dots/bullets/indicators */
.dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 2px;
        margin-top: 200px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

.active, .dot:hover {
      background-color: #717171;
    }


    /* ICONS */
.icon-big{
        width: 100px;
        font-size: 350%;
        display:block;
        text-align: center;
        margin-top: 200px;
        border-radius: 30px;
    }
.column {
      float:left;
      width: 50%;
    }
    /* Arrows main screen*/

.arrow1,
.arrow2 {
        color: #fff;
        margin-top: 50%;
    }
    .arrow1{
        margin-left:20%; 
    }
    .arrow2{
        margin-left:70%; 
    }

    /* Fading animation */
.fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }